<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  
  <link rel="stylesheet" href=" {% static 'blog/css/bootstrap.css' %} ">
  <link rel="stylesheet" href=" {% static 'blog/css/base.css' %} ">
  <!-- CSS Block --> 
  {% block css %}{% endblock css %}

  <!-- Tittle Block -->
  <title> {% block tittle %}{% endblock tittle %} </title>
</head>
<body>
  <!-- Nav Bar -->
  <div class="container-mod">
    <div class="row">
      <div class="col-12">
        {% include 'blog/navbar.html' %}
      </div>
    </div>
  </div>

  <!-- Messages -->
  {% block message %}
    {% include 'blog/message.html' %}
  {% endblock message %}
  
  <!-- Concent -->
  {% block content %}{% endblock content %}
  


  <!-- Including JS -->
  <script src="{% static 'blog/js/jquery.js' %}"></script>
  <script src="{% static 'blog/js/popper.js' %}"></script>
  <script src="{% static 'blog/js/bootstrap.js' %}"></script>
</body>
</html>